<div class="main-content user-layout">

  <main class="content-area">
    <div class="welcome-card">
      <h1>{{titre}}</h1>
      {{#if reservations.length}}
        <div class="history-list">
          {{#each reservations}}
            <div class="history-item">
              <div class="history-item-salle">Salle : {{this.salle.nom}}</div>
              <div class="history-item-date">Du {{this.dateDebut}} au {{this.dateFin}}</div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <p>Vous n'avez aucune réservation passée.</p>
      {{/if}}
    </div>
  </main>

</div> 