<div class="main-content user-layout">
  
  <aside class="sidebar">
    <nav class="user-nav">
      <a href="/reservations/new"><i class="icon-add"></i>Réserver une salle</a>
      <a href="/reservations"><i class="icon-list"></i>Mes réservations</a>
      <a href="/historique" class="active"><i class="icon-history"></i>Historique</a>
      <a href="#"><i class="icon-settings"></i>Paramètres</a>
    </nav>
  </aside>

  <main class="content-area">
    <div class="welcome-card">
      <h1>{{titre}}</h1>
      {{#if reservations.length}}
        <div class="history-list">
          {{#each reservations}}
            <div class="history-item">
              <div class="history-item-salle">Salle : {{this.salle.nom}}</div>
              <div class="history-item-date">Du {{this.dateDebut}} au {{this.dateFin}}</div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <p>Vous n'avez aucune réservation passée.</p>
      {{/if}}
    </div>
  </main>

</div> 