<section class="salles-list-container">

  <div class="actions">
    <a href="/salles/new" class="btn-ajouter">+ Ajouter une nouvelle salle</a>
  </div>

  <div class="table-container">
    <table class="salles-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Capacité</th>
          <th>Equipement</th>
          <th>Emplacement</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each salles}}
        <tr>
          <td>{{this.nom}}</td>
          <td>{{this.capacite}}</td>
          <td>
            {{#each equipements}}
            {{this.equipement.nom}}{{#unless @last}}, {{/unless}}
            {{/each}}
          </td>

          <td>{{this.emplacement}}</td>
          <td>
            <a href="/salles/{{this.id}}/edit" class="btn-modifier">Modifier</a>
            <button type="button" class="btn-supprimer-salle" data-id="{{this.id}}">
              Supprimer
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


  <div class="retour">
    <a href="/accueil/admin" class="btn-retour">← Retour</a>
  </div>
</section>

<script src="/js/salles.js"></script>